.modalStyle{
	background-color: #D3D3D3;
	width: 80%;
    margin: 0 auto;
}

.modal-header{
	display: flex;
    border: 1px solid #bfbaba;
    padding: 1vw;
}

.modal-body{
	display: flex;
    border: 1px solid #bfbaba;
    padding: 1vw;
    height: 15vw;
}

.modal-footer{
	display: flex;
    border: 1px solid #bfbaba;
    padding: 0.25vw;
}

#ok{
	padding: 1vw;
	margin: 1vw;
}

#cancel{
	padding: 1vw;
	margin: 1vw;
}